body { font-family: "montserratLight", sans-serif }
h1, h2, h3, h4, h5 {
  font-family: "montserratBold", sans-serif;
  color:#353535;
  /* color:#353535; */
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
    font-size: 10px;
  }

.remark-slide-content h1{
    font-size: 28px;
}

.remark-slide-content h2{
    font-size: 25px;
}

.remark-slide-content h3{
    font-size:18px;
}
.remark-slide-content h4{
    font-size:15px;
}
.remark-slide-content h5{
    font-size:12px;
}

.intro h1{
    color:#fff;
  }
.intro h2{
    color:#fff;
}
.intro h3{
    color:#fff;
}
.intro h4{
    color:#fff;
}
.intro h5{
    color:#fff;
}

.remark-slide-content{
    background:#FFFFFF;
    color:#353535;
    background-image: url('../img/background.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    font-size:11px;
    padding:5% ;
    padding-top: 60px;
  }


.remark-slide-number{
    font-family: "montserratBold", sans-serif ;
    color:#333333;
    opacity: 0.7;
    font-size:12px;
  }


  .intro p{
    color:#fff;

  }

  .intro{
    padding-top: 50px !important;
  }


.intro {
background-image: url('../img/intro.png') !important;
background-repeat:no-repeat;
background-size:contain;
background-position:center;
color:#FFFFFF; 
background-color: #323232;
z-index:1000;
}
  
  .header{
    font-size: 12px;
    color: #353535;
    position:fixed;
    font-family:"geomanist-light",sans-serif;
    top:18px;
    left: 80px;
    /* transform: translate(-50%,0); */
    text-align:left;

  }
  .footer{
    font-size: 10px;
    color: #353535;
    position:fixed;
    font-family:"geomanist-light",sans-serif;
    bottom:18px;
    left:50%;
    transform: translate(-50%,0);
    text-align:center;

  }

.footnote {
   font-size: 10px;
 }

 .header-icon{
    width:50px;
  }


.pure-table thead {

    background-color: #3D3D3D !important;
    color: #ebebeb;
    text-align: left;
    vertical-align: bottom;
    font-family:"montserratLight" ,sans-serif;
 }
.th{
   padding-top:9px!important;
   padding-bottom:9px!important;
 }
.pure-table td {
   border-left: 1px solid #E2E2E2 !important;
   border-left-width: 1px;
   border-width: 0 0 0 1px;
   border-left-width: 1px;
   font-size: 9px !important;
   margin: 0;
   overflow: visible;
   padding: 0.5em 0.6em !important;
 }

.pure-table th {
   border-left: 1px solid #3D3D3D !important;
   border-left-width: 1px;
   border-width: 0 0 0 1px;
   border-left-width: 1px;
   font-size: 8px !important;
   margin: 0;
   overflow: visible;
   padding: 0.4em 0.8em !important;
 }
 .pure-table {
   border:0px !important;
 }
 .pure-table table tbody{

 border-collapse: collapse;
 border-spacing: 0;
 empty-cells: show;
 border: 1px solid #E2E2E2 !important;

}



.pure-table-bordered td {
 border-bottom: 1px solid #cbcbcb;
}

.pure-table td, .pure-table th {
 border-left: 1px solid #cbcbcb;
 border-left-width: 1px;
 border-width: 0 0 0 1px;
 border-bottom-width: 0px;
 border-left-width: 1px;
 font-size: inherit;
 margin: 0;
 overflow: visible;
 padding: .5em 1em;
}

.pure-table-striped tr:nth-child(2n-1) td {
 background-color: #f2f2f2;
}


.pure-table-vertical thead {

    text-align: left;
    vertical-align: bottom;
    font-family:"montserratLight" ,sans-serif;
 }
.th{
   padding-top:9px!important;
   padding-bottom:9px!important;
 }
.pure-table-vertical td {
   border-left: 1px solid #E2E2E2 !important;
   border-left-width: 1px;
   border-width: 0 0 0 1px;
   border-left-width: 1px;
   font-size: 9px !important;
   margin: 0;
   overflow: visible;
   padding: 0.5em 0.6em !important;
 }

.pure-table-vertical th {
    border-left: 1px solid #E2E2E2 !important;
    border-left-width: 1px;
    border-width: 0 0 0 1px;
    border-left-width: 1px;
    font-size: 9px !important;
    margin: 0;
    overflow: visible;
    padding: 0.5em 0.6em !important;
    font-weight: normal !important;
 }
 .pure-table-vertical {
   border:0px !important;
 }
 .pure-table-vertical table tbody{

 border-collapse: collapse;
 border-spacing: 0;
 empty-cells: show;
 border: 1px solid #E2E2E2 !important;

}
.pure-table-vertical tr{
    font-style: normal;
}
.pure-table-vertical tr > :first-child {
    background-color: #3D3D3D !important;
    color: #ebebeb;
}

.pure-table tbody > tr > :last-child {
    border-right: 1px solid #E2E2E2 !important;
    border-right-width: 1px;
    border-width: 0 0 0 1px;
    border-right-width: 1px;
}

.image-95 img {
  width: 95%;
}
.image-90 img {
  width: 90%;
}
.image-80 img {
  width: 80%;
}
.image-70 img {
  width: 70%;
}
.image-60 img {
  width: 60%;
}
.image-50 img {
  width: 50%;
}
.image-45 img {
  width: 45%;
}
.image-40 img {
  width: 40%;
}
.image-30 img {
  width: 30%;
}
 

@page {
size: 480px 680px;
margin: 0;
}

@media print {
.remark-slide-scaler {
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
    right: 50% !important;
}
